<html>

<head>

<link href='http://fonts.googleapis.com/css?family=IM+Fell+Double+Pica+SC|Sue+Ellen+Francisco|Trade+Winds|Cabin+Sketch|Fredericka+the+Great|Love+Ya+Like+A+Sister|La+Belle+Aurore|Marko+One|Freckle+Face' rel='stylesheet' type='text/css'>

<title>rAquaMaps logo suggestions</title>
</head>

<body>

<p>Suggestions for the rAquaMaps logo... </p>

<!--begin.rcode results="asis", echo=FALSE, message=FALSE

fontnames <- c(
#                "'Sue Ellen Francisco', cursive;",
#                "'Trade Winds', cursive;",
#                "'Cabin Sketch', cursive;",
#                "'Fredericka the Great', cursive;",
#                "'Love Ya Like A Sister', cursive;",
#                "'La Belle Aurore', cursive;",
#                "'Marko One', serif;",
#                "'Freckle Face', cursive;",
                 "'IM Fell Double Pica SC', serif;"
)

header <- paste0("<h1 style=\"font-family: ", fontnames, "\">",
                 "<font color=\"#deebf7\">r</font>",
                 "<font color=\"#3182bd\">Aqua</font>",
                 "<font color=\"#9ecae1\">Maps</font></h1>\n")

cat(header)

end.rcode-->

</body>
</html>
